.config-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.logo-holder {
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 25vw;
  height: 10vw;
}

.config-copy {
  max-width: 25vw;
}

.config-copy h3 {
  text-align: justify;
}

.config-buttons {
  max-width: 25vw;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-buttons, .type-buttons {
  max-width: 25vw;
  min-width: 25vw;
  display: flex;
  justify-content: space-evenly;
}

.config-buttons button {
  width: 100%;
  margin-bottom: 2vh;
}

.player-buttons button {
  width: 45%;
  height: 8vh;
}

.type-buttons button {
  width: 45%;
  height: 6vh;
}

.config-button-text {
  margin-top: .5rem;
}

.start-game-button {
  width: 100%;
  height: 10vh;
}
