.quiz-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

}

.mp-questions {
    width: 75%;
}

.quiz-answer-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mp-quiz-answer {
    width: 45%;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    
}

.mp-quiz-answer label {
    width: 100%;
}

.scoreboard {
    width: 22%;
}

.scored-board, .timed-board {
    background-color: aliceblue;
}